@import "./mixins";
#slider-section {
  height: 100vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  &::before {
    background-color: rgba(14, 8, 31, .8);
    content: " ";
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
  }
  #info-container {
    position: absolute;
    color: white;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      font-size: 50px;
    }
    h2 {
      font-size: 60px;
      @include my_bp(sm) {
        font-size: 80px;
      }
    }
  }
  img.slide {
    height: 100vh;
    width: auto;
    @include my_bp(sm) {
      height: auto;
      width: 100vw;
    }
  }
}

#main-section {
  min-height: 90vh;
  background: #3fafef;
  position: relative;
  padding: 20px;
  @include my_bp(sm) {
    padding: 40px;
  }
  iframe {
    max-width: 100%;
    max-height: 30%;
  }
  .covid_img_1 {
    top: 36%;
    left: -68px;
    height: 150px;
    position: absolute;
    opacity: .1;
  }
  .covid_img_2 {
    right: -34px;
    height: 80px;
    top: 40%;
    position: absolute;
    opacity: .1;
  }
  .covid_img_3 {
    right: 3%;
    top: 50%;
    height: 30px;
    position: absolute;
    opacity: .1;
  }
  .covid_img_4 {
    bottom: 38%;
    height: 40px;
    left: 2%;
    position: absolute;
    opacity: .1;
  }
  .tabs {
    height: 320px;
    position: relative;
    .labels {
      color: white;
      // border-bottom: 3px #ffbb00 solid;
      background: white;
      border-radius: 5px;
      padding-left: 10px;
      padding-right: 10px;
      label {
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        // margin-right: 10px;
        margin-bottom: 0;
        padding: 10px;
        font-size: 12px;
        cursor: pointer;
        background: rgba(255, 255, 255, 1);
        color: #151D41;
        border-radius: 5px;
        margin: 5px;
        &.active {
          box-shadow: 0px 0px 5px rgba(0, 0, 0, .4);
          position: relative;
          background: #ffbb00;
          color: white;
          // border-style: solid;
          // border-color: #ffbb00;
          // border-width: 0px;
          // border-right-width: 3px;
          // border-left-width: 3px;
          // border-top-width: 3px;
          // border-bottom: 0;
        }
      }
    }
    .tab {
      position: absolute;
      color: #151D41;
      font-family: 'Montserrat', Arial, Helvetica, sans-serif;
      padding: 10px 15px 10px 10px;
      // margin-top: 5px;
      // display: block;
      width: 100%;
      height: 100%;
      // background: rgba(255, 255, 255, 1);
      display: none;
      overflow-y: scroll;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      &.active {
        display: block;
      }
      .videos {
        display: flex;
        flex-direction: column;
        .video {
          display: flex;
          justify-content: center;
          background: rgba(255, 255, 255, 1);
          border-radius: 5px;
          padding: 10px;
          margin-bottom: 5px;
          box-shadow: 2px 2px 5px rgba(0, 0, 0, .4);
          .img {
            width: 20%;
            background: #151D41;
            margin-right: 10px;
          }
          .details {
            width: 95%;
            h4 {
              font-size: 16px;
              margin: 0;
            }
            p {
              font-size: 12px;
              margin: 0;
            }
            .button {
              font-size: 12px;
              background: #ffbb00;
              padding: 5px;
              color: white;
              box-shadow: 2px 2px 5px rgba(0, 0, 0, .4);
              border-radius: 5px;
            }
          }
        }
      }
    }
  }
  .block-item {
    text-align: center;
    background: rgba(255, 255, 255, 1);
    // background-image: url("../img/watermark.png");
    border-bottom: 3px #ffbb00 solid;
    background-size: 180%;
    box-shadow: 2px 2px 10px rgba(2, 2, 3, 0.5);
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 35px 30px;
    transition: all .6s;
    transform: translateY(0);
    color: #151D41;
    @include my_bp(sm) {
      background-size: 220%;
    }
    .button {
      font-size: 14px;
      background: #ffbb00;
      padding: 5px 10px;
      color: white;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, .4);
      border-radius: 5px;
    }
  }
  .footer {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 12px;
  }
}