@import "./mixins";
#main-section {
  min-height: 90vh;
  background: #3fafef;
  position: relative;
  padding: 20px;
  @include my_bp(sm) {
    padding: 40px;
  }
  .footer {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 12px;
  }
  .schemes {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    h4 {
      color: white;
      margin-top: 40px;
    }
    .scheme {
      display: flex;
      flex-direction: column;
      background: white;
      padding: 10px 20px;
      border-radius: 5px;
      margin-bottom: 5px;
      font-size: 14px;
      @include my_bp(sm) {
        flex-direction: row;
      }
      .title {
        @include my_bp(sm) {
          width: 75%;
        }
      }
      .expiry {
        @include my_bp(sm) {
          width: 15%;
        }
      }
      .link {
        margin-top: 10px;
        @include my_bp(sm) {
          width: 10%;
          margin: 0px;
        }
      }
      .button {
        font-size: 14px;
        background: #ffbb00;
        padding: 5px 10px;
        color: white;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, .4);
        border-radius: 5px;
      }
    }
  }
}