@import "./mixins";
#main-section {
  min-height: 90vh;
  background: #3fafef;
  position: relative;
  padding: 20px;
  @include my_bp(sm) {
    padding: 40px;
  }
  .footer {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 12px;
  }
  .block-item {
    text-align: center;
    background: rgba(255, 255, 255, 1);
    // background-image: url("../img/watermark.png");
    border-bottom: 3px #ffbb00 solid;
    background-size: 180%;
    box-shadow: 2px 2px 10px rgba(2, 2, 3, 0.5);
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 35px 30px;
    transition: all .6s;
    transform: translateY(0);
    color: #151D41;
    @include my_bp(sm) {
      background-size: 220%;
    }
    .button {
      font-size: 14px;
      background: #ffbb00;
      padding: 5px 10px;
      color: white;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, .4);
      border-radius: 5px;
    }
  }
}