doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/home.scss")
  body

    include parts/menu.pug

    a.buttonDownload(onclick="a('event', 'install', {'event_category': 'Install','event_label': 'PWA Install'});") Install

    section#main-section
      .container
        .row
          .col-sm-6
            iframe(type='text/html' width='600' height='350' src='//www.youtube.com/embed/live_stream?channel=UCGnD5pg8MOIetz93sEvCHbw&autoplay=1' frameborder='0')
          .col-sm-6
            .tabs#app
              .labels
                label(@click="tab=1" :class="tab==1?'active':''") Upcoming
                label(@click="tab=2" :class="tab==2?'active':''") Previous
              .tab(:class="tab==1?'active':''")
                .videos
                  .video(v-for="item in upcoming")
                    //- .img
                    .details
                      h4.truncate {{item.title}} 
                      p {{dateformat(item.date)}} - {{item.from}} - {{item.to}}
                      p.truncate Speaker: {{item.speaker}}
                      a.button(:href="item.link" target="_blank") Register Now

              .tab(:class="tab==2?'active':''")
                .videos
                  .video(v-for="item in previous")
                    //- .img
                    .details
                      h4.truncate {{item.title}} 
                      p {{dateformat(item.date)}} - {{item.from}} - {{item.to}}
                      p.truncate Speaker: {{item.speaker}}
                      a.button.video-pop-up(:href="item.link" target="_blank") Watch on Youtube

        .row.pt-5
          .col-sm-3
            .block-item
              h4 Break Corona
              p.small Idea & Product solution to fight covid-19. 
              a.button(href="http://breakcorona.in" target="_blank") Read More
          .col-sm-3
            .block-item
              h4 Tools 
              p.small Tools to work remotely during lockdown.
              a.button(href="tools.pug") Read More
          .col-sm-3
            .block-item
              h4 Schemes 
              p.small Compendium of Challenges & Programmes
              a.button(href="schemes.pug") Read More
          .col-sm-3
            .block-item
              h4 Grievance 
              p.small Sumbit your startup grievances
              a.button(href="https://support.startupmission.in/portal/newticket" target="_blank") Submit Now
          

      //- img.covid_img_1(src="img/shape__white2.png")
      //- img.covid_img_2(src="img/shape__white2.png")
      //- img.covid_img_3(src="img/shape__white2.png")
      //- img.covid_img_4(src="img/shape__white2.png")


      .footer
        p.text-center &copy; Copyright 2020 | Kerala Startup Mission
    //- include parts/footer.pug

    script(src="./js/index.js")
    script(src="./js/home.js")
    script. 
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
      }   
