doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/schemes.scss")
  body

    include parts/menu.pug

    a.buttonDownload(onclick="a('event', 'install', {'event_category': 'Install','event_label': 'PWA Install'});") Install

    section#main-section
      .container
        .row
          .col-sm-12.mb-3
            h3.text-white.text-center Compendium of Challenges and Programs
            .schemes(v-for="(item, index) in data_filter")
              h4 {{types[index]}}
              .scheme
                .title 
                  b Program
                .expiry 
                  b Deadline
                .link 
              .scheme(v-for="scheme in item")
                .title {{scheme.title}}
                .expiry {{scheme.expiry}}
                .link
                    a.button(:href="scheme.link" target="_blank") Read More

          .col-sm-12.mb-5
            .p.small.text-white Disclaimer: Information collected is from various sources. Validity of the information may be verified at the respective sources.

      .footer
        p.text-center &copy; Copyright 2020 | Kerala Startup Mission

    script(src="./js/schemes.js")