doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/tools.scss")
  body

    include parts/menu.pug

    a.buttonDownload(onclick="a('event', 'install', {'event_category': 'Install','event_label': 'PWA Install'});") Install

    section#main-section
      .container
        .row
          .col-sm-12.mb-5
            h3.text-white.text-center Tools to work remotely

        .row
          .col-sm-3(v-for="item in data")
            .block-item
              h4 {{item.title}}
              p.small {{item.detail}}
              a.button(:href="item.link" target="_blank") Visit Website

      .footer
        p.text-center &copy; Copyright 2020 | Kerala Startup Mission

    script(src="./js/tools.js")